


a#cRetour{
    border-radius:3px;
    padding:10px;
    font-size:15px;
    text-align:center;
    /*color:#fff;
    background:rgba(109, 89, 89, 0.25);*/
    position:fixed;
    right:20px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
  }
a#cRetour:before{ content:"";
background-size: 90px;
display: block  ;
height: 135px;
width: 90px;
background-image:  url(http://image.noelshack.com/fichiers/2019/14/7/1554641180-chucksansfondfleches.png?fbclid=IwAR3ucRh8w_b5w_NWwLjfvo6bbrw2veDbCYvT9lRc7la4oC8Al2vLUDOlhJY);
}

  a#cRetour:hover{ 
    background:rgb(180, 180, 180);
    transition:all ease-in 0.2s;
    
  } 
  a#cRetour.cInvisible{
    
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
  }
  
  a#cRetour.cVisible{
    bottom:20px;
    opacity:1;
  }
